<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957106272338-7v6eamk6kjeilshhmm3t7g2uugqbprev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957106272338-7v6eamk6kjeilshhmm3t7g2uugqbprev</string>
	<key>API_KEY</key>
	<string>AIzaSyDppNY0u_CXJp_YATeKkywd7lt3R1EzluM</string>
	<key>GCM_SENDER_ID</key>
	<string>957106272338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patientDataMobileapp</string>
	<key>PROJECT_ID</key>
	<string>patient-data-app</string>
	<key>STORAGE_BUCKET</key>
	<string>patient-data-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957106272338:ios:d985c0a10013c3854a478b</string>
</dict>
</plist>